.gridMain {
    background-color: black;
    color: white;
}
.labelTop {
    font-size: 25;
	margin : 5;
    background-color: blue;
    color: white;
	text-align: center;
}
.labelPlayerName {
    font-size: 13;
	margin : 5;
    background-color: blue;
    color: white;
	text-align: center;
}
.labelCurrentScore {
    font-size: 20;
	margin : 5;
    background-color: blue;
    color: white;
	text-align: center;
}
.labelGameDuration{
    font-size: 10;
	margin : 5;
    background-color: blue;
    color: white;
	text-align: center;
}
.labelScoreSet{
    font-size: 20;
	margin : 5;
    background-color: blue;
    color: white;
	text-align: center;
}
.gridSet{
    font-size: 10;
	margin : 5;
    background-color: black;
    color: white;
	text-align: center;
}
.labelInfo {
    font-size: 10;
    margin: 5;
	text-align: center;
    background-color: black;
    color: white;
	text-align: center;
}
Button{
    font-size: 20;
    margin: 5;
    background-color: green;
    color: white;
	text-align: center;
}
textfield {
    margin: 15;
}